services:
  homeassistant:
    image: homeassistant/home-assistant
    container_name: homeautomation-homeassistant
    mem_limit: 8g
    cpu_shares: 768
    security_opt:
      - no-new-privileges:true
    healthcheck:
     test: curl -f http://localhost:8123/ || exit 1
    network_mode: host
    volumes:
      - /volume1/docker/homeautomation/homeassistant/config:/config:rw
    env_file: 
      - ./.stack.env
    restart: on-failure:5

  whisper:
    image: lscr.io/linuxserver/faster-whisper:latest
    container_name: homeautomation-whisper
    env_file: 
      - ./.stack.env
      - ./.user.env
      - ./.whisper.env
    volumes:
      - /volume1/docker/homeautomation/whisper/config:/config
    ports:
      - 10300:10300 # Expose Wyoming protocol port
    restart: unless-stopped

  piper:
    image: lscr.io/linuxserver/piper:latest
    container_name: homeautomation-piper
    env_file: 
      - ./.stack.env
      - ./.user.env
      - ./.piper.env
    volumes:
      -  /volume1/docker/homeautomation/piper/config:/config
    ports:
      - 10200:10200 # Expose Wyoming protocol port
    restart: unless-stopped

  microwakeword:
    image: rhasspy/wyoming-microwakeword:latest
    container_name: homeautomation-microwakeword
    env_file: 
      - ./.stack.env
    volumes:
      -  /volume1/docker/homeautomation/microwakeword/profiles:/profiles # Optional: store wake word profiles
    ports:
      - 10400:10400   # Wyoming protocol port
    restart: unless-stopped
    # command: >
    #   --uri tcp://0.0.0.0:10400
    #   --custom-model-dir /profiles

