services:
  homeassistant:
    image: homeassistant/home-assistant
    container_name: homeautomation-ha
    mem_limit: 8g
    cpu_shares: 768
    security_opt:
      - no-new-privileges:true
    healthcheck:
     test: curl -f http://localhost:8123/ || exit 1
    network_mode: host
    volumes:
      - /volume1/docker/homeautomation/homeassistant/config:/config:rw
    environment:
      TZ: America/Toronto
    restart: on-failure:5

  whisper:
    image: lscr.io/linuxserver/faster-whisper:latest
    container_name: homeautomation-whisper
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
      - WHISPER_MODEL=tiny-int8
      - LOCAL_ONLY= #optional
      - WHISPER_BEAM=1 #optional
      - WHISPER_LANG=en #optional
    volumes:
      - /volume1/docker/homeautomation/whisper/config:/config
    ports:
      - 10300:10300 # Expose Wyoming protocol port
    restart: unless-stopped

  piper:
    image: lscr.io/linuxserver/piper:latest
    container_name: homeautomation-piper
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PIPER_VOICE=en_US-lessac-medium
      - LOCAL_ONLY= #optional
      - PIPER_LENGTH=1.0 #optional
      - PIPER_NOISE=0.667 #optional
      - PIPER_NOISEW=0.333 #optional
      - PIPER_SPEAKER=0 #optional
      - NO_STREAMING= #optional
    volumes:
      -  /volume1/docker/homeautomation/piper/config:/config
    ports:
      - 10200:10200 # Expose Wyoming protocol port
    restart: unless-stopped
